@charset "UTF-8";
/* CSS Document */ 

body { 
	background-size: 100%; 
	font-size: 100%; 
	font-family: Tahoma, Geneva, sans-serif; 
	width: 47%; 
	margin: 0 auto; /* this creates centered content*/ 
	
	background-image: url(../../excercise-boxmodel/images/patternweb.jpg); 
	/*background-position:center center*/ 
	
	bqckground-image: no repeat;
	background-size: 100%;
} 

img { 
	width: 100%; 
}

.masthead { 
	height: 12rem; 
	text-align: center; 
} 

.logo { 
	width: 9rem; 
	position: relative;
	top: 1.5rem; 
}

.billboard { 
	height: 30rem; 
	
	
	/* background */ 
	background-color: #000; 
	background-image: url(../../excercise-boxmodel/images/Enterprise.png); 
	background-image: no-repeat; 
	background-position: center center; 
	
	/* border */ 
	
	border: 8px solid rgba(255,255,0,.8);
	border-radius: 38px; 
	
	/*shadow*/ 
	
	box-shadow: 8px 14px 10px 0px rgba(0,0,0,.5); /* x y size and spread */
} 

.billboard h1 { 
	font-family: "Courier New", Courier, monospace; 
	font-size: 3rem; 
	text-transform:uppercase; 
	background-color: rgba(0,0,.3);
	text-align: center; 
	padding: 1.5rem 0; 
	position: relative; 
	top: 12rem;
} 
 

.bottom p { 
	font-size: .75rem; 
	text-align: right; 
	padding: 1.75rem 0; 
}